<main class="container mt-5">

<div class="left-column">
  <img style="max-width: 700px;" data-image="black" src={{items.image}} alt="resim" class="responsive">
</div>


<!-- Right Column -->
<div class="right-column">

  <!-- Product Description -->
  <div class="product-description">
    <span>Kategori</span>
    <h1>{{items.title}}</h1>
    <p>{{items.description}}</p>
  </div>



  <!-- Product Pricing -->
  <div class="product-price">
    <span>{{items.price}} TL</span>
    <a style="cursor:pointer;" class="cart-btn" (click)="Bid()">Teklif Ver</a>
  </div>
  <select (change)="selectChangeHandler($event)" class="choose" style="margin-top: 20px;" required>
    <option value="" hidden>Lütfen takaslamak istediğiniz ürünü seçin</option>
    <option *ngFor="let item of loggedInUser.products; let i = index" [value]="loggedInUser.products[i].id" >{{loggedInUser.products[i].title}}</option>
  </select>
</div>

</main>


<div class=" mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
              <div *ngFor="let item of items.comments; let i = index" class="bg-white p-2">
                  <div class="d-flex flex-row user-info"><img src="../../../assets/img/img1.png" width="40" style="margin-right: 10px;">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{items.comments[i].name}}</span><span class="date text-black-50">{{items.comments[i].date}}</span></div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text">{{items.comments[i].text}}</p>
                      <hr>
                  </div>
              </div>

              <div class="bg-light p-2 mt-5">
                  <div class="d-flex flex-row align-items-start"><img src="../../../assets/img/img1.png" width="40" style="margin-right: 10px;"><input #inputComment type="text" placeholder="Yorumunuzu yazınız" name="name" class="form-control ml-1 shadow-none textarea"></div>
                  <div class="mt-2 text-right"><button (click)="createComment(inputComment)" class="btn btn-primary btn-sm shadow-none" type="button" style="margin-left: 50px;">Yorum Yap</button></div>
              </div>
          </div>
      </div>
  </div>
</div>
