.heading{
  height: 500px;
  width: 100%;
  background-color: rgb(168, 242, 255);
}

.h1{
  text-align: center;
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.head{
  padding-top: 8%;
}

.marketing{
  margin-top: 100px;
  margin-bottom: 100px;
}
