<div class="heading">
  <h1 class="h1">Kullanmadığınız eşyaları şimdi takaslamaya başlayın...</h1>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/img/img1.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Üye Olun</h2>
      <p>Yeni bir üyelik oluşturun ve bilgileriniz ile giriş yapın. Üye olduktan sonra, size sunduğumuz hizmetleri kullanmakta özgürsünüz...</p>
      <p><a class="btn btn-secondary" href="#" role="button">Detaylar &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/img/img2.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Ürünleri İnceleyin</h2>
      <p>Üye olduktan sonra diğer kullanıcıların ürünlerini inceleyin. Daha sonra kendi ürünlerinizi ekleyerek, karşınıza çıkacak olan fırsatları değerlendirin!</p>
      <p><a class="btn btn-secondary" href="#" role="button">Detaylar &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/img/img3.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Bir Takas Gerçekleştirin</h2>
      <p>Takas yapmak istediğiniz ürünleri, karşınıza çıkacak fırsatlar doğrultusunda değerlendirin ve çok kolay bir şekilde takas edin.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Detaylar &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->



</div><!-- /.container -->
