<div class="container mt-5">
  <h1>Profil</h1>

  <div class="left-column mb-3 mt-3">
    <img style="max-width: 300px;" data-image="black" src={{items.image}} alt="resim" class="responsive">
  </div>

  <p><b>Kullanıcı Adı: </b>{{items.username}}</p>
  <p><b>Ad: </b>{{items.name}}</p>
  <p><b>Soyad: </b>{{items.surname}}</p>
  <p><b>Email: </b>{{items.email}}</p>
  <p><b>Telefon: </b>{{items.phone}}</p>
  <p><b>Adres: </b>{{items.adress}}</p>


  <div class="clearfix">
    <button type="submit" class="btn btn-success" routerLink="newproduct">Yeni Ürün</button>
    <!--<button type="submit" class="btn btn-success" routerLink="statusproduct" style="margin-left: 10px;">Ürünlerimin Durumu</button>-->
  </div>
</div>
