<div class="container mt-5">
  <h1>Profil</h1>

  <p><b>Kullanıcı Adı: </b>{{items.username}}</p>
  <p><b>Ad: </b>{{items.name}}</p>
  <p><b>Soyad: </b>{{items.surname}}</p>
  <p><b>Email: </b>{{items.email}}</p>
  <p><b>Telefon: </b>{{items.phone}}</p>
  <p><b>Adres: </b>{{items.adress}}</p>


  <div class="clearfix">
    <button type="submit" class="btn btn-success" routerLink="/admin/newproduct">New Product</button>
    <button type="submit" class="btn btn-success" routerLink="/admin/statusproducts" style="margin-left: 10px;">Products Status</button>
  </div>
</div>
