<div class="row">

  <div class="category col-md-3">
    <div class="vertical-menu mt-5">
      <a href="#">Kategori 1</a>
      <a href="#">Kategori 2</a>
      <a href="#">Kategori 3</a>
      <a href="#">Kategori 4</a>
      <a href="#">Kategori 5</a>
      <a href="#">Kategori 6</a>
    </div>
  </div>


  <div class="products col-md-9">
    <div class="cards">
      <div *ngFor="let item of items" class="card m-3">
        <img src="../../../assets/img/img2.jpg" alt="" style="width:100%">
        <h1>{{item.title}}</h1>
        <p class="price">{{item.price}} TL</p>
        <p>{{item.description}}</p>
        <p><button [routerLink]="['/product',item.id]" (click)="detailItem(item)">Detay</button></p>
      </div>
    </div>
  </div>
</div>

