<div class="row">

  <div class="category col-md-3">
    <div class="list-group mt-5">
      <a href="#" class="list-group-item list-group-item-action">Category 1</a>
      <a href="#" class="list-group-item list-group-item-action">Category 2</a>
      <a href="#" class="list-group-item list-group-item-action">Category 3</a>
      <a href="#" class="list-group-item list-group-item-action">Category 4</a>
    </div>
  </div>


  <div class="products col-md-9">
    <div class="cards">
      <div *ngFor="let item of items" class="card m-3">
        <img src="../../../assets/img/img2.jpg" alt="Denim Jeans" style="width:100%">
        <h1>{{item.title}}</h1>
        <p class="price">{{item.price}} TL</p>
        <p>{{item.description}}</p>
        <p><button>Detay</button></p>
      </div>
    </div>
  </div>
</div>

