<div class="topnav" id="myTopnav">
  <a routerLinkActive="active" routerLink="/"
  [routerLinkActiveOptions]="{exact: true}"
  ><i class="fa fa-fw fa-home"></i
    > Anasayfa</a>
  <a routerLinkActive="active" routerLink="/products"><i class="fa fa-fw fa-shopping-cart"></i> Ürünler </a>
  <a routerLinkActive="active" routerLink="/login"><i class="fa fa-fw fa-user-check"></i> Giriş Yap </a>
  <a routerLinkActive="active" routerLink="/signup"><i class="fa fa-fw fa-user-plus"></i> Kaydol </a>
  <a routerLinkActive="active" routerLink="#"><i class="fa fa-fw fa-envelope"></i> İletişim</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
